

/* body {
 
  background: #6a11cb;


  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

 
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
} */


.loginform {
  width: 50%;
}

.carousel {
  
  /* padding-top: 2%; */
  width:auto;
  margin: auto;
  padding: 2%;
  
  
}


.container-fluid-nav div {
  display: flex;
  justify-content: space-around;
  
}